services:
    - App\\Core\\RouterFactory::createRouter

    App\\Core\\Database\\DatabaseInitializer:
        arguments:
            $schemaFile: %appDir%/../database/schema.sql
        setup:
            - initialize

search:
    - in: %appDir%
      classes:
        - *Facade
        - *Factory
        - *Repository
        - *Service
